<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li>{{ctrl.componentName}}</li>
      </ol>
      <!--Inietta componente custom-->
      <div class="row">
        <div class="col-md-12">
          <card-list elenco-carte="ctrl.elenco"></card-list>
        </div>
      </div>

    </div>
  </div>
</div>