<div class="row">
  <div class="col-md-12">
    <div class="table table-responsive">
      <table class="table">
        <thead>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="card in cardListCtrl.elencoCarte">

            <td>
              <a ui-sref="card-detail({cardName:card.name})">
                <img src="{{card.imagesrc}}" class="img-responsive" width="60" alt="card image">
              </a>
            </td>
            <td>
              <p><b>{{card.name}}</b></p> -
              <p><i>{{card.label}}</i></p>
            </td>
            <td>
              <p>{{card.points}}</p>
            </td>
            <td>
              <p>
                {{card.rarity_name}}
              </p>
            </td>
            <td>
              <div class="well">
                <ul class="list-inline">
                  <li ng-repeat="side in filtraSides(card.sides) track by $index">
                    <span ng-bind-html="iconSnippet(side)"></span>
                  </li>
                </ul>
              </div>
            </td>
            <td> </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>