<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">AngularCourse</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="dashboard" ui-sref-active="active">Dashboard</a></li>
                <li><a ui-sref="product" ui-sref-active="active">Prodotti</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <!--<li>{{cardListCtrl.componentName}}</li>-->
                <li>
                    <button class="btn btn-default" ng-click="prodDetailCtrl.goTo('dashboard')">Torna alla home</button>
                </li>
            </ol>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row">
        <div class="col-md-6">
            <img src="{{prodDetailCtrl.singleProduct.mainImage}}" class="img-responsive" alt="{{prodDetailCtrl.singleProduct.nome}}">
            <ul class="row list-unstyled">
                <li class="col-md-4" ng-repeat="productImg in prodDetailCtrl.singleProduct.images">
                    <p>
                        <small>{{productImg.alt}}</small>
                    </p>
                    <img src="{{productImg.url}}" class="img-responsive" alt="{{productImg.alt}}">
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h1>
                {{prodDetailCtrl.singleProduct.nome}}
            </h1>
            <h4>
                {{prodDetailCtrl.singleProduct.prezzo}}
            </h4>
            <p>{{prodDetailCtrl.singleProduct.desc}}</p>


            <select class="form-control" ng-model="prodDetailCtrl.selectedSize" ng-options="prodDetailCtrl.singleProduct.taglia.size as taglia.size for taglia in prodDetailCtrl.singleProduct.taglia">
                {{taglia.size}} 
            </select>


            <h2 ng-if="prodCtrl.nomeProdotto == 'Angular'">
                Angular è in offerta a 2€
            </h2>
        </div>
    </div>
</div>